{% extends "./_base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">

                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">検索条件</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="filter" method="get">
                                <div class="modal-body">
                                    {% bootstrap_form filter.form %}
                                </div>
                            </form>
                            <div class="modal-footer">
                                <a class="btn btn-outline-secondary" data-dismiss="modal">戻る</a>
                                <button type="submit" class="btn btn-outline-secondary" form="filter">検索</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-1">
                    <a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
                    <div class="float-right">
                        <a class="btn btn-outline-secondary command" href="{% url 'create' %}">新規</a>
                        <a class="btn btn-outline-secondary command" data-toggle="modal" data-target="#myModal"
                           href="#">検索</a>
                    </div>
                </div>
                <div class="mt-1">
                    {% include "./_pagination.html" %}
                </div>

                <ul class="list-group">
                    {% for invoice in invoice_list %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3">
                                    <p>顧客名</p>
                                </div>
                                <div class="col-9">
                                    <p>{{ invoice.customer }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <p>担当者</p>
                                </div>
                                <div class="col-9">
                                    <p>{{ invoice.created_by.get_full_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <p>登録日</p>
                                </div>
                                <div class="col-9">
                                    <p>{{ invoice.created_at|date:"Y/m/d G:i:s" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-secondary"
                                           href="{% url 'detail' invoice.pk %}">詳細表示</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません
                        </li>
                    {% endfor %}
                </ul>
                <div class="mt-1 float-right">
                    <a class="btn btn-outline-secondary command" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-secondary command" data-toggle="modal" data-target="#myModal"
                       href="#">検索</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}